.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f6f6f6;
  padding: 40px 40px;
  flex-wrap: wrap;
}

.img {
  margin-right: 15px;
}

.subtitle {
  color: #7b7b7b;
}

.title {
  color: #181818;
  font-size: 24px;
  letter-spacing: 1%;
  text-transform: uppercase;
  font-weight: 800;
}

.containerTitleLogo {
  display: flex;
  flex-direction: row;
}

// .headerCart {

// }